<div class="appcontainer">
    <app-header></app-header>
    <div style="width: 100vw;">
    <div class="w-100 d-flex">
      <div class="w-50">
        <app-home></app-home>
      </div>
      <div class="w-50">
        <div >
          <app-login *ngIf="currentComponent === 'login'" [data]="registerMessage" (login)="Data($event)"></app-login>
        </div>
        
        <div >
          <app-register *ngIf="currentComponent === 'register'" (data)="childData($event)" [login]="loginMessage"></app-register>
      </div>
    </div>
    </div>
  </div>